* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --back: #06141B;
  --text-black: #11212D;
  --button: #253745;
  --button-hover: #4A5C6A;
  --back-card: #9BA8AB;
  --text-white: #CCD0CF;
}

body {
  background-color: var(--back);
  display: flex;
  flex-direction: column;
}

#container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 45vw;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 0;
}

.perfil-caracters {
  width: 60vw;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.img-perfil {
  width: clamp(15vw, 1rem + 18vw, 30vw);
}

.descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.logo {
  position: absolute;
  width: clamp(15vw, 1rem + 20vw, 30vw);
  z-index: -1;
  opacity: .1;
}

.descricao h1 {
  font-size: clamp(14px, 2.8vw, 48px);
  font-weight: bold;
  color: var(--text-white);
}

.descricao p {
  font-size: clamp(9px, 1.5vw, 24px);
  color: var(--text-white);
  margin-bottom: 1vw;
}

.logos-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.logos-contato img {
  width: clamp(5vw, .2rem + 2vw, 20vw);
}

#btn-whats {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .perfil-caracters {
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .img-perfil {
    width: 45vw;
    margin-bottom: 30px;
  }

  .descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .logo {
    position: absolute;
    width: 45vw;
  }

  .descricao h1 {
    font-size: 24px;
  }

  .descricao p {
    font-size: 12px;
  }

  .logos-contato img {
    width: 7vw;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projetos {
  width: 90vw;
  height: 96vh;
  background-color: var(--back-card);
  border-radius: 25px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#projetos h1 {
  font-size: clamp(12px, 28px, 48px);
  color: var(--text-black);
  text-align: start;
  width: 70vw;
  margin-bottom: 1vh;
}

.container-projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#cards {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.card {
  width: 35vw;
  height: 82vh;
  border-radius: 25px;
  background-color: var(--button);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 32vw;
  height: 70vh;
  border-radius: 15px;
  margin-bottom: 8px;
}

.card h2 {
  font-size: clamp(12px, 22px, 32px);
  color: var(--text-white);
}

.container-projeto .pass {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: var(--button-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: clamp(10px, 18px, 46px);
  font-weight: bold;
}

#projetos .count {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--button-hover);
  margin-top: 20px;
}

.active {
  background-color: var(--text-black);
}

#sobre {
  display: grid;
  justify-content: center;
  margin: 50px auto;
}

#sobre h1 {
  font-size: clamp(18px, 32px, 42px);
  color: var(--text-white);
  margin-bottom: 15px;
}

#sobre .line-1{
  display: grid;
  justify-content: center;
  grid-template-columns: 22vw 50vw;
  gap: 1vw;
  align-items: center;
}

#sobre .line-2{
  display: grid;
  justify-content: center;
  grid-template-columns: 50vw 22vw;
  gap: 1vw;
  align-items: center;
}

#sobre img {
  width: 22vw;
}

#sobre p {
  color: var(--text-white);
  font-size: clamp(8px, 3vw, 14px);
}

@media (max-width: 800px) {
  #sobre {
    margin: 0px 10px 50px;
  }

  #sobre h1 {
    font-size: 22px;
    margin-left: 20px;
  }

  #sobre .line-1 {
    display: flex;
    flex-wrap: wrap;
  }

  #sobre .line-2 {
    display: flex;
    flex-wrap: wrap;
  }

  #sobre img {
    width: 40vw;
  }

  #sobre p {
    font-size: 10px;
    margin: 5px 20px;
  }
}

#form {
  width: 95vw;
  height: 540px;
  background-color: var(--back-card);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#form h1 {
  font-size: 42px;
  color: var(--text-black);
  margin-bottom: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formulario input {
  width: 60vw;
  height: 54px;
  border-radius: 25px;
  border: none;
  background-color: #D9D9D9;
  padding-left: 20px;
}

#form .btn {
  width: clamp(18vw, 20vw, 22vw);
  height: 54px;
  background-color: var(--button);
  color: var(--text-white);
  border-radius: 25px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  transition: .6s;
  font-size: 18px;
}

#form .btn:hover {
  background-color: var(--button-hover);
  color: var(--text-black);
}

@media (max-width: 600px) {
  #form {
    height: 320px;
  }

  .formulario input, #form .btn {
    height: 38px;
  }
}

footer {
  width: 95vw;
  height: 32px;
  color: var(--text-white);
  margin: 10px auto;
  align-items: center;
  opacity: .6;
}

footer span {
  color: var(--text-black);
  background-color: var(--button-hover);
  border-radius: 50%;
  padding: 1px 6px;
}

footer a {
  text-decoration: none;
}