* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --back: #06141B;
  --text-black: #11212D;
  --button: #253745;
  --button-hover: #4A5C6A;
  --back-card: #9BA8AB;
  --text-white: #CCD0CF;
}

body {
  background-color: var(--back);
  display: flex;
  flex-direction: column;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#perfil {
  display: flex;
}

.back {
  width: 45vw;
  height: 740px;
  position: absolute;
  left: 0;
  top: 0;
}

.perfil-caracters {
  display: flex;
  z-index: 2;
  align-items: center;
  padding-left: 40px;
}

.img-perfil {
  width: 310px;
  height: 360px;
}

.descricao {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  height: 360px;
}

.logo {
  position: absolute;
  width: 360px;
  height: 360px;
  z-index: -1;
  opacity: .1;
}

.descricao h1 {
  margin-top: 80px;
  font-size: 52px;
  font-weight: bold;
  color: var(--text-white);
}

.descricao p {
  font-size: 24px;
  color: var(--text-white);
  margin-bottom: 12px;
}

.logos-contato {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 12px;
}

.logos-contato img {
  width: 46px;
  height: 46px;
}

.logos-contato .email {
  width: 52px;
  height: 52px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projetos {
  width: 1200px;
  height: 720px;
  background-color: var(--back-card);
  border-radius: 25px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#projetos h1 {
  font-size: 42px;
  color: var(--text-black);
  text-align: start;
  width: 65vw;
  margin-bottom: 20px;
}

.container-projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#cards {
  display: flex;
  align-items: center;
  gap: 32px;
}

.card {
  width: 460px;
  height: 540px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 260px;
  height: 320px;
}

.container-projeto .pass {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--button-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
}

#projetos .count {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--button-hover);
  margin-top: 20px;
}

.active {
  background-color: var(--text-black);
}

#sobre {
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
}

#sobre h1 {
  font-size: 42px;
  color: var(--text-white);
  margin-bottom: 15px;
}

#sobre .line-1{
  display: grid;
  justify-content: center;
  grid-template-columns: 260px 600px;
  gap: 30px;
  align-items: center;
}

#sobre .line-2{
  display: grid;
  justify-content: center;
  grid-template-columns: 600px 260px;
  gap: 30px;
  align-items: center;
}

#sobre img {
  width: 260px;
  height: 340px;
}

#sobre p {
  color: var(--text-white);
  font-size: 14px;
}

#form {
  width: 1200px;
  height: 540px;
  background-color: var(--back-card);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#form h1 {
  font-size: 42px;
  color: var(--text-black);
  margin-bottom: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formulario input {
  width: 600px;
  height: 54px;
  border-radius: 25px;
  border: none;
  background-color: #D9D9D9;
  padding-left: 20px;
}

#form .btn {
  width: 280px;
  height: 54px;
  background-color: var(--button);
  color: var(--text-white);
  border-radius: 25px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  transition: .6s;
  font-size: 18px;
}

#form .btn:hover {
  background-color: var(--button-hover);
  color: var(--text-black);
}

footer {
  width: 1200px;
  height: 32px;
  color: var(--text-white);
  margin: 10px auto;
  align-items: center;
  opacity: .6;
}

footer span {
  color: var(--text-black);
  background-color: var(--button-hover);
  border-radius: 50%;
  padding: 1px 6px;
}

footer a {
  text-decoration: none;
}